
<section>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 ">
                        <h2>Bienvenido(a) al sistema de control de inventarios</h2>
                        <hr />
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center esp-card">
                        <a class="card color-purple" href="@Url.Action("Cliente", "Mantenimiento")">
                            <div class="card-body esp-obj">
                                <i class="icon-home fa fa-users"></i>
                                <h5>CLIENTES</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center esp-card">
                        <a class="card color-green" href="@Url.Action("Cliente", "Mantenimiento")">
                            <div class="card-body esp-obj">
                                <i class="icon-home fa fa-users"></i>
                                <h5>PROVEEDORES</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center esp-card">
                        <a class="card color-blue" href="@Url.Action("Lista", "Venta")">
                            <div class="card-body esp-obj">
                                <i class="icon-home fa fa-tags"></i>
                                <h5>VENTAS</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center esp-card">
                        <a class="card color-red" href="@Url.Action("ListaOC", "Gestion")">
                            <div class="card-body esp-obj">
                                <i class="icon-home fa fa-shopping-cart"></i>
                                <h5>COMPRAS</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center esp-card">
                        <a class="card color-orange" href="@Url.Action("Material", "Mantenimiento")">
                            <div class="card-body esp-obj">
                                <i class="icon-home fa fa-cubes"></i>
                                <h5>PRODUCTOS</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center esp-card">
                        <a class="card color-verde" href="@Url.Action("EnvioComPago", "FacturaElectronica")">
                            <div class="card-body esp-obj">
                                <i class="icon-home fa fa-file"></i>
                                <h5>FACTURACIÓN</h5>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>